@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

.header {
    width: 100%;
    height: 8vh;
    background-color: #B39BC8;
    box-shadow: 0 0 10px 0 rgb(62, 61, 61);
    padding: 0 30px;
    box-sizing: border-box;
}

.icon{
    width: 15px;
    height: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 60px;
    color: white;
    line-height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lovers Quarrel", cursive;
    font-weight: 500;
    font-style: normal;
}