.setting-component {
    position: relative;
}

.form{
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 15px;
}

.btn{
    padding: 5px 15px;
    background-color: #B39Bc8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: 3px solid #F172A1;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:hover{
    background-color: #E64398;
    }
    
    .btn:active,
    .btn:focus {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px,
            rgba(0, 0, 0, 0.2) 0px 5px 10px -3px,
            rgba(0, 0, 0, 0.1) 0px -1px 0px inset;
        transform: translateY(2px);
    }

